	</main>
	<footer>
		<p>
			© Copyright 2016. Built with <span class="icon-heart">love</span> & <span class="icon-cup">coffee</span> by Luiz Henrique Feltes. 
		</p>
	</footer>
	<script type="text/javascript" src="/assets/js/app.min.js"></script>
</body>
</html>