<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luiz Henrique Feltes (aka snaketl)</title>
</head>
<body>

	<header>
		<div class="imagetop">
			<div class="imagetop-image">
				Image top
			</div>
		</div>
		<div class="profile">
			<a class="profile-image" href="/">Luiz Henrique Feltes</a>
			<h1 class="profile-title">Luiz Henrique Feltes</h1>
			<h2 class="profile-description">Software Developer</h2>
			<nav>
				<a href="/blog/blog.html">Blog</a>
				<span>|</span>
				<a class="profile-link-icon icon-linkedin" href="https://br.linkedin.com/in/luiz-henrique-feltes-18452020/en" target="_blank">Linkedin</a>
				<a class="profile-link-icon icon-twitter" href="https://twitter.com/luizfeltes" target="_blank">Twitter</a>
				<a class="profile-link-icon icon-github" href="https://github.com/snaketl" target="_blank">Github</a>
			</nav>
		</div>
	</header>
	<hr class="divider">
	<main>
