{{> header}}

	<h1>Blog</h1>

	<ul class="blog-entries">
		<li class="blog-entry">
			<span class="flag-icon flag-icon-english"></span>
			<a href="/blog/en/creating-a-blog.html">Creating a blog</a>
			<span class="flag-icon flag-icon-portuguese"></span>
			<a href="/blog/pt/criando-um-blog.html">Criando um blog</a>
		</li>
	</ul>
	
{{> footer}}