{{> header}}

	<div class="blog">
		<ul class="blog-entries">

			<li class="blog-entry">
				<h1 class="blog-entry-title">
					<a href="/blog/creating-a-blog.html">
					Creating a blog
					</a>
				</h1>
				<div class="blog-entry-preview">
					Content here
				</div>

				<div class="blog-entry-date">12 Mar 2016</div>
				<div class="blog-entry-tags">
					on
					<span class="blog-entry-tag">Teste</span>
					<span class="blog-entry-tag">Duas palavras</span>
				</div>
			</li>


			<li class="blog-entry">
				<h1 class="blog-entry-title">
					<a href="/blog/new-post-with-a-long-text-about-something.html">
					New post with a long text about something
					</a>
				</h1>
				<div class="blog-entry-preview">
					Content here
				</div>

				<div class="blog-entry-date">12 Mar 2016</div>
				<div class="blog-entry-tags">
					on
					<span class="blog-entry-tag">Teste</span>
					<span class="blog-entry-tag">Duas palavras</span>
				</div>
			</li>


		</ul>

	</div>
	
{{> footer}}
