{{> header}}

	<p>
		Hi!!
	</p>

	<p>
		My name is Luiz Henrique Feltes (aka snaketl) and I'm a Software Developer from Brazil!
	</p>

	<p>
		I'm 31 years old (and counting). I've a MSc in Applied Computing and a BSc in Computer Science.
	</p>

	<p>
		Currently I'm working as Java Backend Developer (since 2006) with agile methods (Scrum/XP).
	</p>

	<p>
		I also write Frontend code (HTML, CSS and JS) and some stuff in COBOL (Micro Focus and isCOBOL).
	</p>

	<p>
		I work with SQL and NoSQL databases like MySQL, Oracle, C-tree, MongoDB and Redis.
	</p>

	<p>
		You can find me here:
	</p>

	<div> 

		<a class="about-icon icon-linkedin" href="https://br.linkedin.com/in/luiz-henrique-feltes-18452020/en" target="_blank">Linkedin</a>

		<a class="about-icon icon-twitter" href="https://twitter.com/luizfeltes" target="_blank">Twitter</a>

		<a class="about-icon icon-github" href="https://github.com/snaketl" target="_blank">Github</a>

		<a class="about-icon icon-facebook" href="https://www.facebook.com/luiz.feltes" target="_blank">Facebook</a>

		<a class="about-icon icon-instagram" href="https://www.instagram.com/snaketl/" target="_blank">Instagram</a>

		<a class="about-icon icon-mail" href="mailto:luizfeltes@gmail.com">E-mail</a>

		<a class="about-icon icon-skype" href="skype:luizfeltes?call">Skype</a>

	</div>
			
{{> footer}}