{{> header}}

	<p>Hi!!</p>
	<p>My name is <strong>Luiz Henrique Feltes (aka snaketl)</strong> and I'm a <strong>Software Developer</strong> from Brazil!</p>
	<p>I'm 31 years old (and counting). I've <strong>MSc in Applied Computing</strong> and <strong>BSc in Computer Science</strong>.</p>
	<p>Currently I'm working as <strong>Java Backend Developer</strong> (since 2006) with <strong>agile methods</strong> (Scrum/XP).</p>
	<p>I also write <strong>Frontend code</strong> (HTML, CSS and JS) and some stuff in <strong>COBOL</strong> (Micro Focus and isCOBOL).</p>
	<p>I work with <strong>SQL</strong> and <strong>NoSQL</strong> databases like MySQL, Oracle, C-tree, MongoDB and Redis.</p>
	<p>You can find me here:</p>
	<div> 
		<a class="about-icon icon-linkedin" href="https://br.linkedin.com/in/luiz-henrique-feltes-18452020/en" target="_blank">Linkedin</a>
		<a class="about-icon icon-twitter" href="https://twitter.com/luizfeltes" target="_blank">Twitter</a>
		<a class="about-icon icon-github" href="https://github.com/snaketl" target="_blank">Github</a>
		<a class="about-icon icon-facebook" href="https://www.facebook.com/luiz.feltes" target="_blank">Facebook</a>
		<a class="about-icon icon-instagram" href="https://www.instagram.com/snaketl/" target="_blank">Instagram</a>
		<a class="about-icon icon-mail" href="mailto:luizfeltes@gmail.com">E-mail</a>
		<a class="about-icon icon-skype" href="skype:luizfeltes?call">Skype</a>
		<a class="about-icon icon-hackerrank" href="https://www.hackerrank.com/snaketl" target="_blank">Hacker Rank</a>
	</div>
	
{{> footer}}